.campaign-card-box {
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1px solid rgb(197, 197, 197);
  position: relative;
  border-radius: 10px;
}

.campaign-card-box img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
