.campaign-heading {
  color: #455a64;
  font-family: GilroySemiBold;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.025rem;
  margin-left: 20px;
  margin-top: 15px;
}
